backup/flow.json
[
    {
        "id": "5afc46dd1ce4e26c",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "94b067bb6bb62a70",
        "type": "http in",
        "z": "5afc46dd1ce4e26c",
        "name": "Prismwebsite",
        "url": "/webhook/website",
        "method": "post",
        "upload": false,
        "skipBodyParsing": false,
        "swaggerDoc": "",
        "x": 110,
        "y": 180,
        "wires": [
            [
                "86cde41cdcbce6e3"
            ]
        ]
    },
    {
        "id": "86cde41cdcbce6e3",
        "type": "function",
        "z": "5afc46dd1ce4e26c",
        "name": "function 1",
        "func": "msg.payload = {\n  timestamp: new Date().toISOString(),\n  source: \"website\",\n  contact: msg.req.body.email || msg.req.body.phone || \"unknown\",\n  message: msg.req.body.message || JSON.stringify(msg.req.body),\n  category: \"lead\"\n};\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 340,
        "y": 180,
        "wires": [
            [
                "cbfbd413adbee999"
            ]
        ]
    },
    {
        "id": "14380f81daa85ef4",
        "type": "function",
        "z": "5afc46dd1ce4e26c",
        "name": "Format Gmail",
        "func": "msg.payload = {\n  timestamp: new Date().toISOString(),\n  source: \"gmail\",\n  contact: msg.from || \"unknown\",\n  message: msg.payload || msg.subject || \"no content\",\n  category: \"email\"\n};\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 340,
        "y": 120,
        "wires": [
            [
                "cbfbd413adbee999"
            ]
        ]
    },
    {
        "id": "3dd597d512ef186d",
        "type": "http in",
        "z": "5afc46dd1ce4e26c",
        "name": "",
        "url": "/webhook/whatsapp",
        "method": "post",
        "upload": false,
        "skipBodyParsing": false,
        "swaggerDoc": "",
        "x": 150,
        "y": 240,
        "wires": [
            [
                "3c6e2c9465d45bea"
            ]
        ]
    },
    {
        "id": "3c6e2c9465d45bea",
        "type": "function",
        "z": "5afc46dd1ce4e26c",
        "name": "Parse WhatsApp Message",
        "func": "// Only process POST messages\nif (msg.req.method !== 'POST') {\n  return null;\n}\n\nconst body = msg.req.body;\n\n// Extract phone number (remove @c.us)\nlet from = body.from || '';\nif (typeof from === 'string') {\n  from = from.replace(/@c\\.us$/, '').replace(/^\\+?/, '');\n}\n\n// Build clean payload for logging\nmsg.payload = {\n  timestamp: new Date().toISOString(),\n  source: 'wa-bridge',\n  contact: from,\n  message: body.body || '',\n  category: 'message'\n};\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 400,
        "y": 240,
        "wires": [
            [
                "cbfbd413adbee999"
            ]
        ]
    },
    {
        "id": "c240e398192bdbb3",
        "type": "http in",
        "z": "5afc46dd1ce4e26c",
        "name": "",
        "url": "/upload/social",
        "method": "post",
        "upload": false,
        "skipBodyParsing": false,
        "swaggerDoc": "",
        "x": 130,
        "y": 300,
        "wires": [
            [
                "279ccdedd2c52270"
            ]
        ]
    },
    {
        "id": "279ccdedd2c52270",
        "type": "csv",
        "z": "5afc46dd1ce4e26c",
        "name": "Parse Social Media CSV",
        "spec": "rfc",
        "sep": ",",
        "hdrin": true,
        "hdrout": "none",
        "multi": "one",
        "ret": "\\r\\n",
        "temp": "",
        "skip": "0",
        "strings": true,
        "include_empty_strings": "",
        "include_null_values": "",
        "x": 390,
        "y": 300,
        "wires": [
            [
                "cbfbd413adbee999"
            ]
        ]
    },
    {
        "id": "9ddb79cd33d0ff06",
        "type": "e-mail in",
        "z": "5afc46dd1ce4e26c",
        "name": "Mail",
        "protocol": "IMAP",
        "server": "imap.gmail.com",
        "useSSL": true,
        "autotls": "never",
        "port": "993",
        "authtype": "BASIC",
        "saslformat": true,
        "token": "",
        "box": "Inbox",
        "disposition": "Read",
        "criteria": "UNSEEN",
        "repeat": "300",
        "fetch": "trigger",
        "inputs": 1,
        "x": 90,
        "y": 120,
        "wires": [
            [
                "14380f81daa85ef4"
            ]
        ]
    },
    {
        "id": "cbfbd413adbee999",
        "type": "GSheet",
        "z": "5afc46dd1ce4e26c",
        "creds": "fc1607b9223216d1",
        "method": "append",
        "action": "",
        "sheet": "1KcBEoMHMYESAbVzyBo1xOrBEZWG9uglf5ONJyvXCNpQ",
        "cells": "Sheet1!A1:B2",
        "flatten": false,
        "name": "prismdatacentre",
        "x": 700,
        "y": 180,
        "wires": [
            []
        ]
    },
    {
        "id": "fc1607b9223216d1",
        "type": "gauth",
        "name": "node-red-gsheets@node-red-prism-media.iam.gserviceaccount.com"
    },
    {
        "id": "096affebf8b5be96",
        "type": "global-config",
        "env": [],
        "modules": {
            "node-red-node-email": "5.0.0",
            "node-red-contrib-google-sheets": "1.1.2"
        }
    }
]
